* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
}

.App {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
.home-ul {
  padding-top: 20px;
  list-style: none;
  font-size: 25px;
  text-shadow: 1px 1px 1px white;
}
.home-ul > a > li {
  background-color: rgb(218, 215, 202);
  padding: 15px 40px 15px 25px;
  margin: 10px 10px 20px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.home-link {
  text-decoration: none;
  color: rgb(71, 71, 71);
}
