/* .Check {
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  justify-content: center;
} */
.Check {
  padding-top: 80px;
}
.Check > h1 {
  text-align: center;
  font-size: 2em;
  color: rgb(90, 90, 90);
}
.Check > h3 {
  text-align: center;
  color: rgb(90, 90, 90);
  margin-bottom: 20px;
}

.check-form {
  min-height: 20vh;
  display: grid;
  justify-content: center;
}

.check-form button {
  border-radius: 10px;
  margin-left: auto;
  margin-right: 1%;
  margin-bottom: 2%;
  padding: 10px;
  font-size: 15px;
  border: none;
  color: #ebe5d3;
  cursor: pointer;
  transition: all 0.3s ease;
}
.check-save-btn {
  float: right;
  width: 20%;
  background: #9b7a56;
}
.check-save-btn:hover {
  background: #67451a;
  color: white;
}
.check-all-btn {
  width: 8%;
  background: #799b56;
}
.check-all-btn:hover {
  background: #40552b;
  color: white;
}
.check-ul-div {
  border-style: dotted;
  border-radius: 10px;
  padding: 2%;
}
.check-ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  font-size: 20px;
  min-width: 700px;
}
.check-ul li {
  max-width: 25vh;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.check-li {
  min-width: 150px;
}
input[type="checkbox"] {
  display: none;
}
.checkbox01 {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px;
  position: relative;
  min-width: 150px;
  overflow: auto;
}
.checkbox01::before {
  background: #fff;
  border: 1px solid #231815;
  content: "";
  display: block;
  height: 16px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}
.checkbox01::after {
  border-right: 3px solid #ed7a9c;
  border-bottom: 3px solid #ed7a9c;
  content: "";
  display: block;
  height: 9px;
  left: 10px;
  margin-top: -7px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 5px;
}
input[type="checkbox"]:checked + .checkbox01::after {
  opacity: 1;
}
