.nav-link {
  text-decoration: none;
  color: white;
}
#container {
  position: fixed;
  width: 100%;
  background-color: rgb(43, 43, 43);
  box-shadow: 0px 5px 10px white;
  margin-bottom: 20px;
  z-index: 3;
}
#container > nav {
  width: 100%;
  display: flex;
  max-height: 60px;
}
#logo {
  line-height: 60px;
  font-size: 25px;
  padding: 0 20px;
  color: white;
  width: 40%;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px gray;
}
#container > nav > ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  position: absolute;
  right: 50px;
}
#container > nav > ul > a > li {
  line-height: 60px;
  margin: 0 0px;
  padding: 0;
  text-align: center;
  display: inline-block;
  min-width: 120px;
}
/* #container > nav > ul > a {
  position: relative;
  margin: 0 20px;
} */
#container > nav > ul > a > li:hover {
  border-bottom: 2px solid white;
  background-color: #888888;
}
#container > nav > ul > .dropdown:hover {
  border-bottom: none;
}
#container > nav > ul > .dropdown:hover > .dd {
  display: block;
}
.dropdown:hover > a .fa-caret-down {
  display: none;
}

#container > nav > ul > a > li > div {
  position: absolute;
  padding: 0 10px;
  background-color: black;
  display: none;
  background-color: aliceblue;
  min-width: 100px;
}

#container > nav > ul > a > li > div > ul {
  margin: 0px 0 10px 0;
  padding: 0;
  list-style: none;
}
#u_a_c {
  position: relative;
  width: 100%;
}
#up_arrow {
  position: relative;
  width: 20px;
  height: 20px;
  left: 42%;
  top: -10px;
  background-color: aliceblue;
  transform: rotate(45deg);
}
#container > nav > ul > a > li > div > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#container > nav > ul > a > li > div > ul > li > a {
  padding: 5px;
  color: black;
}
