.Students {
  padding-top: 80px;
  text-align: center;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  justify-content: center;
}
.Students > h1 {
  margin-bottom: 2%;
  font-size: 2em;
  color: rgb(90, 90, 90);
}
.std-upload-div {
  width: 50%;
  display: inline-block;
  margin: auto auto 1%;
}
.std-upload-div > button {
  float: left;
  background: #52d0bf;
  color: white;
  border: 2px solid #52d0bf;
  border-radius: 10px;
  width: 25%;
  height: 40px;
  font-weight: 800;
  font-size: 0.7em;
  letter-spacing: 1.8pt;
  cursor: pointer;
}
.std-register {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}
.std-form {
  border: 2px solid #d09b52;
  padding: 40px 10px 0px 40px;
  width: 70%;
  max-width: 700px;
  border-radius: 20px;
}
/* #focus {
  border: 3px solid #fef6fb;
  box-shadow: 0 0 10px 0 #d09b52;
  position: absolute;
  transition: width 0.2s ease, height 0.2s ease, left 0.2s ease, top 0.2s ease,
    border-radius 0.2s ease;
  pointer-events: none;
  z-index: 5;
  border-radius: 10px;
  display: none;
} */
.std-form > input {
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s ease;
  color: #868283;
  margin-bottom: 30px;
  border: 2px solid #868283;
  float: left;
  margin-right: 30px;
}
.std-form > .num {
  width: calc(30%);
}
.std-form > .name {
  width: calc(60%);
}
.std-form > .std-input:placeholder-shown {
  border: 2px solid #eae4da;
}
.std-form > .std-input::placeholder {
  color: #a3a5aa;
}
.std-form > button {
  background: #d09b52;
  color: #f8f4ee;
  border: 2px solid #d09b52;
  border-radius: 10px;
  outline: 10px solid #fff;
  width: 25%;
  height: 40px;
  margin: 0 30px -20px 0;
  float: right;
  font-weight: 800;
  font-size: 0.7em;
  letter-spacing: 1.8pt;
  text-transform: uppercase;
  cursor: pointer;
}
.std-form > button:hover {
  outline-width: 0;
}
/* .std-form > button:focus {
  outline: 0;
} */

.std-list {
  margin: 0 20% 0 20%;
  padding: 1% 1%;
  border-radius: 10px;
  background: #ecf0f1;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}
.std-ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.std-li {
  border-radius: 5px;
  color: #2c3e50;
  font-size: 20px;
  /* line-height: 30px; */
  /* text-align: justify; */
  /* letter-spacing: 1px; */
  width: 30%;
  margin: 2% 1.5%;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.std-num {
  font-size: 15px;
  color: white;
  margin: -10px 10px 0 -10px;
  background-color: rgb(206, 192, 162);
  border-radius: 5px;
  width: 30px;
}
.std-li-box {
  border-radius: 5px;
  width: 100%;
  height: 5vh;
  padding: 1.5% 2%;
  background: #fff;
  min-height: 50px;
  max-height: 220px;
  box-sizing: border-box;
  display: flex;
  align-self: center;
}
.std-name-div {
  overflow: scroll;
  display: inline-block;
}
.std-name-div > p {
  float: left;
}
.std-btn-box {
  border: none;
  margin-left: auto;
  margin-right: 0;
  display: inline-block;
  min-width: 50%;
}

.std-go-btn,
.std-update-btn,
.std-trash-btn {
  border-radius: 100%;
  background: #979797;
  color: white;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 3px;
  float: right;
}
.std-update-btn {
  background-color: rgb(100, 132, 202);
}
.std-trash-btn {
  background-color: rgb(216, 131, 131);
}
.std-go-btn:hover,
.std-update-btn:hover,
.std-trash-btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
/* .std-go-btn {
  background: rgb(85, 120, 196);
}
.std-update-btn {
  background: rgb(104, 196, 85);
} */
