.Todo {
  text-align: center;
  align-items: center;
  margin: 0;
  padding-top: 80px;
  box-sizing: border-box;
  height: 100vh;
  justify-content: center;
}
.Todo > h1 {
  margin-bottom: 30px;
  font-size: 2em;
  color: rgb(90, 90, 90);
}

.todo-register {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}
.todo-form {
  border: 2px solid #d09b52;
  padding: 40px 10px 0px 40px;
  width: 70%;
  max-width: 700px;
  border-radius: 20px;
}
.todo-form > input {
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s ease;
  color: #868283;
  margin-bottom: 30px;
  border: 2px solid #868283;
  float: left;
  margin-right: 30px;
}
.todo-form > .date {
  width: 30%;
  border: 2px solid #eae4da;
}
.todo-form > .ok {
  width: 30%;
  border: 2px solid #868283;
}
.todo-form > .text {
  width: 60%;
}
.todo-input:placeholder-shown {
  border: 2px solid #eae4da;
}
.todo-input::placeholder {
  color: #a3a5aa;
}
.todo-form > button {
  background: #d09b52;
  color: #f8f4ee;
  border: 2px solid #d09b52;
  border-radius: 10px;
  outline: 10px solid #fff;
  width: 25%;
  height: 40px;
  margin: 0 30px -20px 0;
  float: right;
  font-weight: 800;
  font-size: 0.7em;
  letter-spacing: 1.8pt;
  text-transform: uppercase;
  cursor: pointer;
}
.todo-form > button:hover {
  outline-width: 0;
}

.todo-list {
  margin: 0 20% 0 20%;
  padding: 1% 1%;
  border-radius: 10px;
  background: #ecf0f1;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}
.todo-filter {
  margin-left: 70%;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 20%;
  height: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.todo-ul {
  margin: 0;
  padding: 0;
  /* text-align: center; */
}
.todo-li {
  border-radius: 5px;
  color: #2c3e50;
  font-size: 20px;
  /* line-height: 30px; */
  /* text-align: justify; */
  /* letter-spacing: 1px; */
  width: 80%;
  margin: 1.5% 1.5%;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.todo-deadline {
  font-size: 15px;
  color: white;
  /* text-align: justify; */
  margin: -10px 0 0 -10px;
  background-color: rgb(124, 105, 88);
  border-radius: 5px;
  width: 120px;
}
.todo-li-box {
  border-radius: 5px;
  width: 100%;
  height: 5vh;
  padding: 1.5% 2%;
  background: #fff;
  min-height: 50px;
  max-height: 220px;
  box-sizing: border-box;
  display: flex;
  align-self: center;
}
.todo-text-div {
  overflow: auto;
  display: inline-block;
}
.todo-item {
  float: left;
}
.completed {
  text-decoration: line-through;
  opacity: 0.3;
}
.todo-btn-box {
  min-width: 35%;
  border: none;
  margin-left: auto;
  margin-right: 0;
  align-self: center;
  margin-bottom: 10px;
  display: inline-block;
}
.todo-go-btn,
.todo-complete-btn,
.todo-trash-btn {
  border-radius: 100%;
  background: #979797;
  color: white;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  float: right;
}
.todo-complete-btn {
  background-color: rgb(124, 194, 124);
}
.todo-trash-btn {
  background-color: rgb(216, 131, 131);
}
.todo-go-btn:hover,
.todo-complete-btn:hover,
.todo-trash-btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
/*
.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}*/

/*
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
} */
